<div class="po-font-title">
  {{ tipoForm }} Empréstimo
</div>
<form [formGroup]="form" class="po-pt-3">
  <div class="po-row">
    <po-combo
      class="po-md-12 po-sm-12"
      formControlName="cliente"
      p-label="Cliente"
      p-help="Pesquisar pelo nome do cliente"
      p-icon="po-icon-user"
      [p-options]="opcoesInputCliente"
      [p-disabled]="carregandoInputCliente"
      [p-literals]="literals"
      [p-clean]="true"
    >
      <ng-template p-combo-option-template let-option>
        <div class="po-row">
          <div class="po-sm-10 po-md-9 po-lg-11">
            <div class="po-font-text-large-bold">{{ option.label }}</div>
            <div class="po-font-text-smaller">Código: {{ option.value }}</div>
          </div>
        </div>
      </ng-template>
    </po-combo>
  </div>
  <div class="po-row">
    <po-combo
      class="po-md-12 po-sm-12"
      formControlName="livro"
      p-label="Livro"
      p-help="Pesquisar pelo título do livro"
      p-icon="po-icon-book"
      [p-options]="opcoesInputLivro"
      [p-disabled]="carregandoInputLivro"
      [p-literals]="literals"
      [p-clean]="true"
    >
      <ng-template p-combo-option-template let-option>
        <div class="po-row">
          <div class="po-sm-10 po-md-9 po-lg-11">
            <div class="po-font-text-large-bold">{{ option.label }}</div>
            <div class="po-font-text-smaller">Código: {{ option.value }}</div>
          </div>
        </div>
      </ng-template>
    </po-combo>
  </div>
  <div class="po-row">
    <po-datepicker
      class="po-xl-6 po-md-12 po-sm-12"
      formControlName="dataEmprestimo"
      p-label="Data de Empréstimo"
      p-error-pattern="Data inválida"
    >
    </po-datepicker>
    <po-datepicker
      class="po-xl-6 po-md-12 po-sm-12"
      formControlName="dataDevolucao"
      p-label="Data de Devolução"
      p-error-pattern="Data inválida"
    >
    </po-datepicker>
  </div>
</form>
<div class="po-md-12 po-sm-12 po-pt-4 po-pb-1 po-text-right">
  <po-button
    p-label="Cancelar"
    p-kind="secondary"
    [p-danger]="true"
    p-icon="po-icon-close"
    (p-click)="cancelar()"
  >
  </po-button>
  <po-button
    class="po-pl-1"
    p-label="Salvar"
    p-kind="secondary"
    p-icon="po-icon-ok"
    (p-click)="salvar()"
    [p-disabled]="!this.form.valid"
  >
  </po-button>
</div>

