<div class="po-text-center po-font-display po-pb-5">
  Bem-vindo de volta, usuário(a)!
</div>
<div class="po-row po-pt-2">
  <po-container class="po-xl-7 po-lg-12 po-md-12 po-sm-12" [p-height]="400">
    <div class="po-pb-3 po-font-text-large-bold po-font-text-uppercase po-text-center">
      Total de Empréstimos
    </div>
  </po-container>
  <po-container class="po-xl-5 po-lg-12 po-md-12 po-sm-12 po-pt-lg-0 po-pt-3" [p-height]="400">
    <div class="po-pb-3 po-font-text-large-bold  po-font-text-uppercase po-text-center">
      Calendário
    </div>
    <div class="po-row">
      <div class="po-offset-lg-3 po-offset-md-1 po-pl-2">
        <po-calendar p-locale="pt"></po-calendar>
      </div>
    </div>
  </po-container>
</div>
<po-container class="po-md-12 po-sm-12 po-pt-2">
  <div class="po-pb-3 po-font-text-large-bold po-font-text-uppercase po-text-center">
    Lembretes
    <po-button
      class="po-pl-1"
      p-label="Adicionar"
      p-kind="secondary"
      [p-small]="true"
      (p-click)="abrirModal()"
    >
    </po-button>
  </div>
  <div class="po-row">
    <po-widget *ngFor="let lembrete of lembretes"
      #lembrete
      class="po-md-12 po-lg-4 po-sm-12 po-mt-2"
      [p-title]='lembrete.titulo'
      p-primary-label="Remover"
      (p-primary-action)="removerLembrete(lembrete)"
    >
      <div class="po-font-subtitle po-text-center">{{ lembrete.conteudoPrincipal }}</div>
      <div class="po-text-center">{{ lembrete.conteudoSecundario }}</div>
    </po-widget>
  </div>
</po-container>

<po-modal p-title="Lembrete" [p-primary-action]="confirmar" [p-secondary-action]="fechar">
  <form #optionsForm="ngForm">
    <div class="po-row">
      <po-input
        class="po-md-12"
        name="titulo"
        [(ngModel)]="lembrete.titulo"
        p-label="Titulo:"
        p-required
        p-clean
      >
      </po-input>
    </div>
    <div class="po-row">
      <po-textarea
        class="po-md-12"
        name="conteudoPrincipal"
        [(ngModel)]="lembrete.conteudoPrincipal"
        p-label="Conteudo Principal:"
        [p-required]="true"
      >
      </po-textarea>
    </div>
    <div class="po-row">
      <po-textarea
        class="po-md-12"
        name="conteudoSecundario"
        [(ngModel)]="lembrete.conteudoSecundario"
        p-label="Conteudo Secundario:"
        [p-optional]="true"
      >
      </po-textarea>
    </div>
  </form>
</po-modal>
